@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nutricare-primary-dark: #9e0b7f;
    --nutricare-primary-light: #d93bb1;
    --nutricare-green: #add01c;
    --nutricare-green-dark: #8ca417;
    --nutricare-bg-light: #fcf0f8;
    --nutricare-text-dark: #333333;
    --nutricare-text-gray: #718096;
  }
}

@layer components {
  .font-sans {
    font-family: Inter, system-ui, Roboto, sans-serif;
  }
}
